<h1> Is News Just for the Birds? </h1>

<container id="side-content">
	<h2> Maybe in this case..<br>
		<form method="get" action="/mynews">
		<button id="getNews" type="submit">Get my news.</button>
		</form>
	</h2>
<p id="ref">Articles scraped from Audubon.org with <a id="cheeriolink" href="https://www.npmjs.com/package/cheerio">Cheerio</a></p>
